@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

#p1 {
    color: rgb(130, 149, 158);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

body {

    background: url('c:/Users/sarai/Documents/Pictures/kerri-shaver-1404201-unsplash.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.inputContainer1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 0px;
}

.toDoList-form {
    max-width: 750px;
    margin: 0 auto;
    background: rgba(219, 201, 35, 0.178);
    padding: 30px;
    border-radius: 5px;
    display: flex;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    color: rgb(130, 149, 158);
}

#input-field {
    display: flex;
    flex-direction: column;
    margin-right: 4%;    
}

#input-field,
.msg {
    width: 75%;
}

#input-field #inputToDoItem,
.msg textarea, #message1 {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(130, 149, 158);
    padding: 10px;
    color: rgb(130, 149, 158);
    width: 100%;
}

.msg textarea {
    height: 75px;
}

::-webkit-input-placeholder {
    color: rgb(130, 149, 158);
}

::-moz-input-placeholder {
    color: rgb(130, 149, 158);
}

::-ms-input-placeholder {
    color: rgb(130, 149, 158);
}

#button1 {
    background: rgba(219, 201, 35, 0.178);
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    color: rgb(130, 149, 158);
    cursor: pointer;
    text-transform: uppercase;
}

#button2 {
    background: rgba(219, 201, 35, 0.178);
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    color: rgb(130, 149, 158);
    cursor: pointer;
    text-transform: uppercase;
}

#button3 {
    background: rgba(219, 201, 35, 0.178);
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    color: rgb(130, 149, 158);
    cursor: pointer;
    text-transform: uppercase;
}

#button4 {
    background: rgba(219, 201, 35, 0.178);
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    color: rgb(130, 149, 158);
    cursor: pointer;
    text-transform: uppercase;
}




button {
    padding: 10px;
    border-radius: 3px;
    color: darkslategrey;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 12px;
}

button.remove {
    padding: 5px;
    margin-left: 20px;
    background-color: lightslategrey;
    opacity: 0.5;
}

button.remove:hover {
    background-color: lightseagreen;
}

@media (max-width: 600px) {    
    .toDoList-form {
        flex-direction: column;        
    }
    .msg textarea {
        height: 80px;
    }

    #input-field,
    .msg {
        width:100%;
    }
}